body {
  background-color: #F3F4F6;
}
.tasks-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box-title-red {
  border-left: 5px solid #e74c3c;
  color: #960000;
}

.box-title-grean {
  border-left: 5px solid #009688;
  color: #009688;
}
.form-check-input {
  border-color: #960000;
}
.form-check-input:checked {
  background-color: #009688;
  border-color: #009688;
}

.app-title{
  background-color: #16ABF8;
  text-shadow: 1px 1px 5px #00000090;
}
.list-cont{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 430px;
}